<%= render 'shared/modal', title: "Dar de baja persona", fade_in: true do %>
  <p>Se va a dar de baja el persona <b><%= @person.fullname %></b></p>
  <%= form_with(url: disable_person_path(@person), method: 'PUT') do |form| %>
      <%= form.submit 'Dar de baja', class: 'btn btn-danger' %>
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
    </div>
  <% end %>
<% end %>