<div id="<%= dom_id iva_condition %>">
  <p>
    <strong>Name:</strong>
    <%= iva_condition.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= iva_condition.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= iva_condition.active %>
  </p>

</div>
