<h1>Editing iva condition</h1>

<%= render "form", iva_condition: @iva_condition %>

<br>

<div>
  <%= link_to "Show this iva condition", @iva_condition %> |
  <%= link_to "Back to iva conditions", iva_conditions_path %>
</div>
