<%= render 'shared/modal', title: "Dar de baja condición de iva", fade_in: true do %>
  <p>Se va a dar de baja la condición de iva <b><%= @iva_condition.name %></b></p>
  <%= form_with(url: disable_iva_condition_path(@iva_condition), method: 'PUT') do |form| %>
      <%= form.submit 'Dar de baja', class: 'btn btn-danger' %>
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
    </div>
  <% end %>
<% end %>