<div id="<%= dom_id instructor %>">
  <p>
    <strong>Name:</strong>
    <%= instructor.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= instructor.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= instructor.active %>
  </p>

</div>
