<div id="<%= dom_id sector %>">
  <p>
    <strong>Name:</strong>
    <%= sector.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sector.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= sector.active %>
  </p>

</div>
