<%= render 'shared/modal', title: "Dar de baja rubro", fade_in: true do %>
  <p>Se va a dar de baja la rubro <b><%= @company_area.name %></b></p>
  <%= form_with(url: disable_company_area_path(@company_area), method: 'PUT') do |form| %>
      <%= form.submit 'Dar de baja', class: 'btn btn-danger' %>
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
    </div>
  <% end %>
<% end %>