<% content_for :title, "Editing course type unit" %>

<h1>Editing course type unit</h1>

<%= render "form", course_type_unit: @course_type_unit %>

<br>

<div>
  <%= link_to "Show this course type unit", @course_type_unit %> |
  <%= link_to "Back to course type units", course_type_units_path %>
</div>
