<%= render 'shared/modal', title: "Dar de baja sede", fade_in: true do %>
  <p>Se va a dar de baja la sede <b><%= @headquarter.name %></b></p>
  <%= form_with(url: disable_headquarter_path(@headquarter), method: 'PUT') do |form| %>
      <%= form.submit 'Dar de baja', class: 'btn btn-danger' %>
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
    </div>
  <% end %>
<% end %>